pkgbase = clockify-desktop
	pkgdesc = Truly free time tracker for teams, Desktop App
	pkgver = 2.5.3
	pkgrel = 1
	url = https://clockify.me
	arch = x86_64
	license = LicenseRef-custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = java-runtime
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	source = clockify-desktop-2.5.3.deb::https://clockify.me/downloads/Clockify_Setup_x64.deb
	sha512sums = af4b63a51fba3ec603ddc17a35a317c98d1a5518d829bb01724d1fde0f79bb2aed8f7521e51ea0d17f91fc63790d71e21371afa3fff13dfdf0b3527dff480d04

pkgname = clockify-desktop
