pkgbase = clockify-desktop
	pkgdesc = Truly free time tracker for teams, Desktop App
	pkgver = 2.2.2
	pkgrel = 1
	url = https://clockify.me
	arch = x86_64
	license = LicenseRef-custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = java-runtime
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	source = clockify-desktop-2.2.2.deb::https://clockify.me/downloads/Clockify_Setup_x64.deb
	sha512sums = cb37dbc34f4c906b40bc02080960bddd985ff33ceea5a53be3503c4821f5d2e0591052dafcd31dfa7fe416a2c6fd54aa118559b3781d859cbaea934ddc913fbb

pkgname = clockify-desktop
