pkgbase = clockify-desktop
	pkgdesc = Truly free time tracker for teams, Desktop App
	pkgver = 2.2.7
	pkgrel = 1
	url = https://clockify.me
	arch = x86_64
	license = LicenseRef-custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = java-runtime
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	source = clockify-desktop-2.2.7.deb::https://clockify.me/downloads/Clockify_Setup_x64.deb
	sha512sums = a89ef8401e369416fdfbc11d37ab222f4b5798293b3032bc44c9a81c01aab992f07daf56a37e0fa436cc89e35665cfe23e6315ef64cccce25236048f636317ef

pkgname = clockify-desktop
